 <div class="d-flex w-100 flex-row justify-content-between gap-2 align-items-center my-1">
    <small >@Tag.Title</small>
    <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button @onclick="OnStartEdit"  type="button" class="btn btn-primary btn-sm"><i class="bi bi-pencil-fill"></i></button>
        <button @onclick="OnDelete"  type="button" class="btn btn-danger btn-sm"><i class="bi bi-trash-fill"></i> </button>
    </div>
</div>